@import "../../variables.scss";

:host {
  display: block;
  max-width: 500px;
}

.container {
  min-height: 380px;
}

.app {
  &-toolbar-icon {
    width: 30px;
    height: 30px;
  }
  &-form-field {
    padding: 20px 0px 20px 2px;
    width: 100%;
  }

  &-step {
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    &-body {
      min-height: 320px;
    }

    &-footer {
      justify-content: flex-end;
      display: flex;

      button {
        margin: 0 0 0 5px;
        background: $accent;
        color: white;
      }
    }
  }

  &-highlight {
    color: $primary;
  }

  &-logo {
    width: 70px;
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
