:host {
  display: flex;
  flex-direction: column;
}

.app {
  &-toolbar-icon {
    width: 30px;
    height: 30px;
  }
  &-logo {
    max-height: 50px;
    display: block;
  }
  &-filter {
    top: -20px;
    position: sticky;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    &-clear {
      position: relative;
      top: 8px;
      cursor: pointer;
    }
    mat-form-field {
      flex-grow: 1;
      margin-right: 20px;
    }
  }
  &-merchant {
    &-name {
      font-size: 14px;
    }
    &-type {
      font-size: 12px;
      color: gray;
    }
  }
  &-row {
    height: 50px !important;
  }
  &-column {
    &-date {
      border-left: 4px solid;
      width: 70px;
    }
    &-logo {
      width: 70px;
    }
    &-merchant {
    }
    &-amount {
      width: 70px;
    }
  }
}

table {
  min-width: 100%;
  background-color: white;
}
