<h2>Transactions</h2>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput [formControl]="searchText" placeholder="Search by typing..."/>
  <mat-icon class="app-filter-clear" matSuffix *ngIf="searchText.value" (click)="searchText.reset()">close</mat-icon>
</mat-form-field>

<div matSort>
  <tr>
    <button mat-sort-header = "transactionDate">DATE</button>
    <button mat-sort-header = "merchant">BENEFICIARY</button>
    <button mat-sort-header = "amount">AMOUNT</button>
  </tr>
</div>
<table mat-table>
  <tr *ngFor = "let transaction of transactions$ | async">
    <td mat-cell class="app-column-date" [style.border-left-color]="transaction.categoryCode">
      {{transaction.transactionDate | date: 'MMM dd'}}
    </td>
    <td mat-cell class="app-column-logo">
      <img class="app-logo" [src]="transaction.merchantLogo"/>
    </td>
    <td mat-cell class="app-column-logo">
      {{transaction.merchant}}
    </td>
    <td mat-cell class="app-column-amount">
      {{transaction.amount | currency }}
    </td>
  </tr>
</table>



